<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
<main class="row">
    <div class="container">
        <div class="grid">
            <div class="slider">
                <div class="slider__list">
                    <div class="slider__item">
                        <a href="" class="slider__link">
                            <img src="/assets/img/slider.jpg" alt="" class="slider__img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid__row container__wrapper">
                <div class="body">
                    <div class="content">
                        <div class="content__header">
                            <h3 class="content__heading">Hàng Mới Về</h3>
                            <div class="content__actions">
                                <div class="content__actions-item">
                                    <div class="content__actions-btn">Tất cả</div>
                                </div>
                                <div class="content__actions-item">
                                    <div class="content__actions-btn">Nam</div>
                                </div>
                                <div class="content__actions-item">
                                    <div class="content__actions-btn">Nữ</div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__row">

                            <div class="grid__column-4-12">
                                <div class="product">
                                    <div class="product__wrapper">
                                        <a href="." class="product__link">
                                            <img src="/assets/img/1681581603_nu1a.jpg" class="product__img">
                                        </a>
                                        <div class="img_hover">
                                            <a href="" class="product__link">
                                                <img src="/assets/img/1681581787_nu3a.jpg" class="product__img">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="product__content">
                                        <p class="product__name"></p>
                                        <div class="product__detail">
                                            <div class="product__price">
                                                <span class="product__price-de"></span>
                                                <span class="product__price-sale"></span>
                                            </div>
                                            <div class="product__action">
                                                <div class="product__wishlist">
                                                    <!-- <i class="fa-regular fa-heart"></i> -->
                                                    <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <div class="product__cart">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="grid__column-4-12">
                                <div class="product">
                                    <div class="product__wrapper">
                                        <a href="." class="product__link">
                                            <img src="/assets/img/1681581603_nu1a.jpg" class="product__img">
                                        </a>
                                        <div class="img_hover">
                                            <a href="" class="product__link">
                                                <img src="/assets/img/1681581787_nu3a.jpg" class="product__img">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="product__content">
                                        <p class="product__name"></p>
                                        <div class="product__detail">
                                            <div class="product__price">
                                                <span class="product__price-de"></span>
                                                <span class="product__price-sale"></span>
                                            </div>
                                            <div class="product__action">
                                                <div class="product__wishlist">
                                                    <!-- <i class="fa-regular fa-heart"></i> -->
                                                    <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <div class="product__cart">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="grid__column-4-12">
                                <div class="product">
                                    <div class="product__wrapper">
                                        <a href="." class="product__link">
                                            <img src="/assets/img/1681581603_nu1a.jpg" class="product__img">
                                        </a>
                                        <div class="img_hover">
                                            <a href="" class="product__link">
                                                <img src="/assets/img/1681581787_nu3a.jpg" class="product__img">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="product__content">
                                        <p class="product__name"></p>
                                        <div class="product__detail">
                                            <div class="product__price">
                                                <span class="product__price-de"></span>
                                                <span class="product__price-sale"></span>
                                            </div>
                                            <div class="product__action">
                                                <div class="product__wishlist">
                                                    <!-- <i class="fa-regular fa-heart"></i> -->
                                                    <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <div class="product__cart">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="grid__column-4-12">
                                <div class="product">
                                    <div class="product__wrapper">
                                        <a href="." class="product__link">
                                            <img src="/assets/img/1681581518_nu14a.jpg" class="product__img">
                                        </a>
                                        <div class="img_hover">
                                            <a href="" class="product__link">
                                                <img src="/assets/img/1681581787_nu3a.jpg" class="product__img">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="product__content">
                                        <p class="product__name"></p>
                                        <div class="product__detail">
                                            <div class="product__price">
                                                <span class="product__price-de"></span>
                                                <span class="product__price-sale"></span>
                                            </div>
                                            <div class="product__action">
                                                <div class="product__wishlist">
                                                    <!-- <i class="fa-regular fa-heart"></i> -->
                                                    <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <div class="product__cart">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <a href="" class="btn btn--primary content__show">Xem Tất Cả</a>
                    </div>
                    <div class="content">
                        <div class="content__header">
                            <h3 class="content__heading">Hàng Bán Chạy</h3>
                            <div class="content__actions">
                                <div class="content__actions-item">
                                    <div class="content__actions-btn">Tất cả</div>
                                </div>
                                <div class="content__actions-item">
                                    <div class="content__actions-btn">Nam</div>
                                </div>
                                <div class="content__actions-item">
                                    <div class="content__actions-btn">Nữ</div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__row">

                            <div class="grid__column-4-12">
                                <div class="product">
                                    <div class="product__wrapper">
                                        <a href="" class="product__link">
                                            <img src=".->imgPro ?>" class="product__img">
                                        </a>
                                        <div class="img_hover">
                                            <a href="" class="product__link">
                                                <img src=".a['img']['img_name'] ?>" class="product__img">
                                            </a>
                                        </div>

                                    </div>
                                    <div class="product__content">
                                        <p class="product__name"></p>
                                        <div class="product__detail">
                                            <div class="product__price">
                                                <span class="product__price-de"></span>
                                                <span class="product__price-sale"></span>
                                            </div>
                                            <div class="product__action">
                                                <div class="product__wishlist">
                                                    <!-- <i class="fa-regular fa-heart"></i> -->
                                                    <i class="fa-solid fa-heart"></i>
                                                </div>
                                                <a href="" class="product__cart">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                        <a href="" class="btn btn--primary content__show">Xem Tất Cả</a>
                    </div>

                </div>
            </div>
        </div>

</main>

</body>
</html>
