:root{
    --primary-color:rgba(17,164,193,1);
    --foren-color: rgb(50,43,119);
    --black-color: #000;
    --white-color: rgb(255, 255, 255);
    --border-color:  #E7E8E9;
    --disable-color: #827f7f;
    --bg-color: rgb(213, 212, 212);
    --heart-color: rgb(241,81,129);
    --bggr-color: linear-gradient(172deg, rgb(50,43,119) 0%, rgba(17,164,193,1) 100%);
    --qnt-color: rgba(205, 145, 15,1);
    --thichthich-color: rgb(234,121,213);
    --tns-color: rgb(57,102,78);

    --border-base: 10px;

    --navbar-height: 37px;
    --header-height: 120px;
    --search-height: calc(var(--header-height) - var(--navbar-height));

    --quickCartHeader-height: 80px;
    --quickCartFooter-height: 80px;
    --quickCartBody-height: calc(100vh - (var(--quickCartHeader-height) + var(--quickCartFooter-height)));
    
    --main-width: 100%;
    --sidebar-width: 240px;
    --container-width: 1200px;
    --playerbar-width: calc(var(--main-width) - calc(var(--navbar-width) + var(--sidebar-width)));


    --main-height: 792px;
    --header-height: 80px;
    --player-height: 176px;
    --content-height: calc(var(--main-height) - calc(var(--header-height) + var(--player-height)));
}

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: inherit;
    
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
    width: 0;
    
}
body::-webkit-scrollbar-thumb{
    background-color: var(--white-color);
    border-radius: 4px;
}
body::-webkit-scrollbar-track {
    background-image: var(--bggr-color);
    border-radius: 4px;
}

/* Reponsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full {
    height: 100%;
    width: 100%;
    display: flex;
}
.grid__full-width {
    width: 100%;
}

.grid__row {
    margin-left: -5px; 
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
}

.grid__column-6 {
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-8-12 {
    width: 75%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3332%;
}
.grid__column-5-12{
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
}
.grid__column-4-12{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.grid__column-3-12{
    padding-left: 10px;
    padding-right: 10px;
    width: 33.3333%;
}
.mt-8{
    margin-top: 8px;
}
.w-50 {
    width: 50%;
}
.w-45 {
    width: 45%;
}
.w-30 {
    width: 30%;
}
.w-25 {
    width: 25%;
}
.w-20 {
    width: 20%;
}
.w-15 {
    width: 15%;
}
.w-10 {
    width: 10%;
}
.w-5 {
    width: 5%;
}
.strg-550 {
    font-weight: 550;
}
.fs-18 {
    font-size: 1.8rem;
}
.bd-t{
    border-top: 1px solid #e7e8e9;
}
.progress {
    width: 70%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
}
.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
}
.icon___size-s {
    font-size: 2rem;
    color: var(--white-color);
}
.icon___size-l {
    font-size: 2.8rem;
    color: var(--white-color);
}
.icon___size-xl {
    font-size: 4rem;
}

@keyframes FadeIn{
    from{
        opacity: 0;
        transform: translateY(20%);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}
@keyframes Growth{
    from{
        opacity: 0;
        transform: scale(var(--growth-from));
    }
    to{
        opacity: 1;
        transform: scale(var(--growth-to));
    }
}
@keyframes zoom{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
@keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

.blur-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 4px;
    width: 100%;
}
/* Modal Css */
.spaces,
.modal{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: FadeIn linear 0.3s;
    z-index: 999;
}
.spaces__overlay,
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(5,87,128,0.2);
    z-index: -1;
}
.spaces__body,
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    animation: Growth linear 0.2s;
}
.type__card:hover .artist__card-img,
.artist__card:hover .artist__card-img,
.top100__img:hover {
    --growth-from: 0.8;
    --growth-to: 1;
    margin: auto;
    animation: zoom linear 0.8s;
}




/* Button design */
.btn{
    display: flex;
    min-width: 100px;
    max-width: 120px;
    height: 48px;
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: var(--black-color);
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    line-height: 1.6rem;
    padding: 16px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px auto;
}
.btn--size-s{
    height: 30px;
}
.btn__primary{
   font-size: 1.8rem !important;

}
.btn--primary {
    color: var(--white-color);
}
.quantity__s {
    height: 28px !important;
    width: 84px !important;
}
.quantity__input--s {
    height: 24px !important;
    /* width: 70px !important; */
}
.quantity__btn--s {
    height: 24px !important;
    width: 24px !important;
}
.quantity__size--s {
    font-size: 1.4rem !important;
}

.seclect__input{
    position: relative;
    height: 36px;
    min-width: 180px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    border-radius: 2px;
}
.seclect__input-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    padding: 8px 4px;
    display: none;
    z-index: 1;
    box-shadow: 0 0 2px 0  rgba(0, 0, 0, 0.5);
}
.seclect__input-item{
    padding: 8px 8px;
}
.seclect__input-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
.seclect__input-link:hover{
    color: var(--primary-color);
}
.seclect__input:hover .seclect__input-list{
    display: block;
}
.seclect__input-list::before{
    position: absolute;
    content: "";
    height: 20px;
    top: -7%;
    left: 0;
    right: 0;
    background-color: transparent;
    
}
.btn__center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination__item{
    margin: 0 4px;
}
.pagination__item-link{
    --height: 24px;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--foren-color);
    min-width: 32px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}
.pagination__item--active .pagination__item-link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination__item--active:hover .pagination__item-link{
    opacity: 0.85;
}



/* property for css base */
.primary__label {
    background: -webkit-linear-gradient(rgb(14, 136, 170), rgb(142,200,94));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mt-46 {
    margin-top: 46px !important;
}
.mb-24 {
    margin-bottom: 24px !important;
}
.mr-18 {
    margin-right: 18px !important;
}
.no__padding {
    padding: 0 !important;
}
.intheline{
    position: relative;
    cursor: pointer;
}
.intheline::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-image:linear-gradient(to left,rgb(30,142,173), rgb(142,200,94));
    top: 0;
    left: 0;
}
.intheline::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-image:linear-gradient(to right,rgb(30,142,173), rgb(142,200,94));
    bottom: 0;
    left: 0;
}
.intheline:hover.intheline::before {
    background-image:linear-gradient(to right,rgb(30,142,173), rgb(142,200,94));
}
.intheline:hover.intheline::after {
    background-image:linear-gradient(to left,rgb(30,142,173), rgb(142,200,94));
}
.fl-jc-ct {
    justify-content: center !important;
}
.po-re {
    position: relative !important;
}




/* volumn */
.options {
    display: flex;
    align-items: center;
}
.options__volume-icon {
    padding-right: 8px;
}
.options__lyrics {
    padding: 10px 10px;
}
.options__volume {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 10px;

}


/* toast css */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999; 
}
.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 6px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.8s;
    animation: slideInLeft ease .8s,fadeOut linear 0.8s 3s forwards;
}
.toast__left {
    width: 20%;
}
.toast__icon {
    font-size: 2.8rem;
}
.toast__center {
    width: 50%;
}
.toast__name {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.toast__right {
    width: 20%;
}
.toast--success {
    border-color: #47d864;
    display: none;
  }
.toast--success .toast__icon {
    color: #47d864;
  }
.toast--info {
    border-color: #2f86eb;
    display: none;
  }
  
.toast--info .toast__icon {
    color: #2f86eb;
  }
  .toast--error {
    border-color: red;
    display: none;
  }
.toast--error .toast__icon {
    color: red;
  }
.toast + .toast {
    margin-top: 24px;
  }
.toast__icon,
.toast__close {
    padding: 0 16px;
  }
.toast__center {
    flex-grow: 1;
  }
  
.toast__msg {
    font-size: 1.3rem;
    color: #888;
    margin-top: 6px;
    line-height: 1.4rem;
  }
  
.toast__close {
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: right;
  }

  .toast--success.active {
    display: flex;
  }
  .toast--info.active {
    display: flex;
  }
  .toast--error.active {
    display: flex;
  }
  



