

.header {
    display: flex;
    height: 80px;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--white-color);
}

.header__between {
    width: 40%;
    display: flex;
    justify-content: flex-start;
}
.header__left-list {
    display: flex;
    list-style: none;

}
.header__left-item {

}
.header__left-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.8rem;
    padding: 0 8px;
    display: flex;
    justify-content: center;
}

.header__left{
    display: flex;
    justify-content: flex-start;
    width: 15%;
}
.header__between-logo {

}

.header__right {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__right-search {

}
.header__right-wrapper {
    border:  2px solid var(--black-color);
    border-radius: 40px;
}
.header__right-input {
    width: 224px;
    height: 30px;
    border: none;
    font-size: 1.4rem;
    padding-left: 12px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.header__right-input::placeholder {
    padding-left: 10px;
    font-size: 1.4rem;
}
.header__right-btn {
    height: 30px;
    width: 40px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 2px solid var(--black-color);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

}
.header__right-cart {
    position: relative;
    cursor: pointer;
}
.header__cart-value {
    position: absolute;
    background-color:  var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    font-size: 1.4rem;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -4px;
    right: 2px;

}
.header__right-user--link {
    text-decoration: none;
    color: var(--black-color);
}
.header__right-user {

}
.header__icon {
    font-size: 2rem;
    padding: 0 12px;
}
.icon__btn {
    font-size: 1.6rem;
    font-weight: 400;
}


.header__right-cart:hover.header__right-cart::before {
    display: block;
}

.header__right-cart:hover.header__right-cart::after {
    display: block;
}

.header__cart-header {
    border-bottom: 1px solid #000;
}
.header__cart-heading {
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    padding: 12px;
    
}
.header__cart-content {

}
.header__cart-item {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 10px 8px 8px 8px;
}
.header__cart-left {
    width: 25%;
    display: flex;
    justify-content: center;
}
.header__cart-img {
    width: 60px;
    height: 72px;
    border-radius: 10px;
}
.header__cart-between {
    width: 40%;
    display: flex;
    align-items: center;
    
}
.header__cart-input {
    width: 36px;
    height: 36px;
    font-size: 1.6rem;
    border: none;
    outline: none;
}
.header__cart-name {
    font-size: 1.6rem;
}
.header__cart-right {
    width: 35%;
    display: flex;
    justify-content: center;
}
.header__cart-price {
    font-size: 1.6rem;
    font-weight: 500;
}
.header__cart-footer {

}
.header__cart-footer-up {
    display: flex;
    justify-content: space-around;
}
.header__cart-footer-left {
    font-size: 1.6rem;
}
.header__cart-footer-text {

}
.header__cart-footer-right {
    font-size: 1.6rem;
    font-weight: 550;
}
.header__cart-footer-btn {
    width: 80%;
    height: 40px;
    background-color: var(--black-color);
    display: flex;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header__cart-footer-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--white-color);
}


.header__between-list {
    display: flex;
    list-style: none;

}

.header__between-item {
    padding: 0 8px;
}

.header__between-item:hover>ul {
    display: block;

}

.header__between-item:hover>a::after {
    width: calc(100% + 10%);

}

.header__between-link {
    position: relative;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.8rem;
    padding: 0 8px;
    cursor: pointer;

}

.header__between-link::after {
    content: '';
    width: 0;
    height: 4px;
    position: absolute;
    bottom: -5px;
    left: -5%;
    display: inline-block;
    background: var(--black-color);
    transition: all .5s;
    border-radius: 5px 0 5px 0;
}

.header__between-link::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -176%;
    left: 0;
    /* display: inline-block; */
    background: transparent;
    /* transition: all .5s; */
    /* border-radius: 5px 0 5px 0; */
}


.header__left-logo {
    width: 150px;
}


.header__right-wrapper {
    border:  1px solid #9e9e9e;
    border-radius: 40px;
}
.header__right-input {
    width: 224px;
    height: 30px;
    border: none;
    font-size: 1.4rem;
    padding-left: 12px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.header__right-input::placeholder {
    padding-left: 10px;
    font-size: 1.4rem;
}
.header__right-btn {
    height: 30px;
    width: 40px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #9e9e9e;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: var(--white-color);

}
.header__right-cart {
    position: relative;
    cursor: pointer;
}
.header__search {
    width: 350px;
    height: 400px;
    background-color: red;
    z-index: 9999;
    position: absolute;
    top: 80px;
    right: 19%;
    display: none;
}

.header__search.active {
    display: block;
}


.cart__value {
    position: absolute;
    background-color:  var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    font-size: 1.4rem;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -4px;
    right: 2px;

}
.header__right-user {

}
.header__icon {
    font-size: 2rem;
    padding: 0 12px;
}


/* Menu da cap */


.menu__list {
    position: absolute;
    top: 80px;
    left: 11%;
    width: 1200px;
    background-color: var(--white-color);
    padding: 12px;
    display: none;
    animation: FadeIn 1s;
    animation-duration: 1s;
}




.menu__item {
    float: left;
    width: calc(100% - 250px);
    padding: 8px;
}

.menu__item-img {
    width: 100%;
    border-radius: 12px 0 12px 0;
}

.menu__item-banner {
    width: 200px;
    float: right;
    margin: 32px 28px 0 0;
}

.menu__li {
    display: inline-block;
    width: 200px;
    margin-bottom: 12px;
    vertical-align: top;

}

.menu__li-link {
    font-size: 1.8rem;
    line-height: 4rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black-color);
    cursor: pointer;
}

.menu__li-link:hover {
    opacity: 0.5;
}

.mega__list {
    
}

.mega__item {

}

.mega__link {
    font-size: 1.6rem;
    line-height: 3rem;
    text-decoration: none;
    color: var(--black-color);
    cursor: pointer;
}

.mega__link:hover {
    opacity: 0.5;
}
