


.payment__up {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: -5px;
    margin-right: -5px;
}
.payment__location {
    width: 60%;
    padding-left: 5px;
    padding-right: 5px;
}
.payment__options {
    width: 40%;
    padding-left: 5px;
    padding-right: 5px;
}
.payment__down {

}
.location__header {
    font-size: 1.6rem;
    margin: 8px;
}
.location__heading {
    font-size: 1.6rem;
}
.location__container {

}
.location__input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #e7e8e9;
}
.location__row {
    display: flex;
    height: 48px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 16px;
}
.location__col {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.location__select {
    width: 100%;
    height: 100%;
    font-size: 1.48rem;
    padding-left: 16px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #e7e8e9;
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
    appearance: none;
}
.location__option {
    width: 100%;
    height: 100%;
}
.options__header {
    margin: 8px;
}
.options__heading {
    font-size: 1.6rem;
}
.options__container {
    border: 1px solid #e7e8e9;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
}
.options__item {
    display: flex;
    align-items: center;
    line-height: 3rem;
}
.options__input {
    cursor: pointer;
}
.options__label {
    font-size: 1.48rem;
}
.options__caution {
    font-size: 1.24rem;
}
.receipt__input {
    height: 42px;
    border: 1px solid #e7e8e9;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.48rem;
    padding-left: 12px;
    width: 70%;
    margin: 4px;
}
.receipt__btn {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: pointer;
    width: 25%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment__auth {
    display: flex;
    align-items: center;
    width: 100%;
}
.payment__auth-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}
.payment__auth-btn {
    width: 120px;
    height: 40px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.payment__auth-right {
    width: 70%;
}
.payment__auth-text {
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 4px;
}