<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">
<head>
    <title>Trang chủ | IVYmoda</title>
    <link rel="icon" type="image/png" href="/assets/img/logo-icon.ico" sizes="16*16"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/detail.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/modals.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/3426ec3618.js" crossorigin="anonymous"></script>
</head>
<body class="container">
<header class="row"></header>
<nav class="row">
    <div th:replace="/layout/_menu.html"></div>
</nav>
<div class="row">
    <article class="col-sm-9">
        <div th:replace="${main}"></div>
    </article>
    <!--    <aside class="col-sm-3">-->
    <!--        <div th:replace="/layout/_cart-info.html"></div>-->
    <!--        <div th:replace="/layout/_category.html"></div>-->

    <!--    </aside>-->
</div>


<!--<div class="footer">-->
<!--    <div class="copy__rights">©nthnam.dev All rights reserved</div>-->
<!--    <div class="contact">-->
<!--        <div class="contact__left">Email</div>-->
<!--        <div class="contact__right">-->
<!--            <a href="mailto:nthnam.dev@gmail.com" class="contact__link">nthnam.dev@gmail.com</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="contact">-->
<!--        <div class="contact__left">Phone</div>-->
<!--        <div class="contact__right">-->
<!--            <a href="tel:+84377917901" class="contact__link">0377***01</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="contact">-->
<!--        <div class="contact__left">Facebook</div>-->
<!--        <div class="contact__right">-->
<!--            <a href="tel:+84377917901" class="contact__link">Nguyễn Thế Hoài Nam</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<script src="/assets/js/main.js'"></script>
<script type="text/javascript">

</script>
</body>
</html>
