
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trang chủ | IVYmoda</title>
        <link rel="icon" type="image/png" href="./assets/img/logo-icon.ico" sizes="16*16" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/header.css">
        <link rel="stylesheet" href="./assets/css/cart.css">
        <link rel="stylesheet" href="./assets/css/modals.css">
        <link rel="stylesheet" href="./assets/css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/reponsive.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://kit.fontawesome.com/3426ec3618.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main">
            <div class="grid__column-2">
                <!-- <div class="sibar">
                    <p class="sibar__heading">
                        <i class="fa-solid fa-bars"></i>
                    Danh Mục</p>
                    <ul class="sibar__list">
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Khoác</a>
                            <ul class="multilevel__list">
                                <li class="multilevel__item"><a href="" class="multilevel__link">Áo Khoác Gió</a></li>
                                <li class="multilevel__item"><a href="" class="multilevel__link">Áo Khoác Nỉ</a></li>
                                <li class="multilevel__item"><a href="" class="multilevel__link">Áo Khoác Dạ</a></li>
                            </ul>
                        </li> 
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                    </ul>
                </div> -->
        </div>
        <header class="header">
                <div class="grid header__content">
                    <div class="grid__row" style="align-items: center;">
                        <div class="header__left">
                            <img src="" alt="" class="header__left-logo">
                         </div>
                         <div class="header__between">
                             <ul class="header__between-list">
                                 <li class="header__between-item">
                                    <a class="header__between-link">Nữ</a>
                                    <ul class="menu__list">
                                        <li class="menu__item">
                                            <ul>
                                                
                                                <li class="menu__li">
                                                    <a href="" class="menu__li-link">Đồ Lót</a>
                                                    <ul class="mega__list">
                                                       <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                        
                                                    </ul>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li class="menu__item-banner">
                                            <a href="" class="menu__item-link">
                                                <img src="./assets/img/phuongly2.jpg" alt="" class="menu__item-img">
                                            </a>
                                            
                                        </li>

                                    </ul>
                                </li>
                                <li class="header__between-item">
                                    <a class="header__between-link">Nam</a>
                                    <ul class="menu__list">
                                        <li class="menu__item">
                                        <ul>
                                                <li class="menu__li">
                                                    <a href="" class="menu__li-link">Áo Khoác</a>
                                                    <ul class="mega__list">
                                                        <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu__item-banner">
                                            <a href="" class="menu__item-link">
                                                <img src="./assets/img/lavanhi.jpg" alt="" class="menu__item-img">
                                            </a>
                                            
                                        </li>

                                    </ul>
                                </li>
                                 <li class="header__between-item"><a href="" class="header__between-link">Hàng Mới</a></li>
                                 <li class="header__between-item"><a href="" class="header__between-link">Best Seller</a></li>
                                 <li class="header__between-item"><a href="" class="header__between-link">IvyCare</a></li>
                             </ul>
                         </div>
                         <div class="header__right">
                             <div class="header__right-search">
                                 <div class="header__right-wrapper">
                                    <form action="/website__mvc/search" method="POST">
                                        <input type="text" name="search" class="header__right-input" placeholder="Nhập từ tìm kiếm" value="">
                                        <button type="submit" class="header__right-btn" value="submit">
                                            <i class="fa-solid fa-magnifying-glass icon__btn"></i>
                                        </button>
                                    </form>
                                 </div>
                             </div>
                             <div class="header__right-cart">
                                 <i class="fa-solid fa-cart-shopping header__icon header__cart-icon"></i>
                                 <span class="header__cart-value">
                                 </span>
                             </div>
                             <div class="header__right-user">
                                 <a href="/website__mvc/customers/login" class="header__right-user--link">
                                     <i class="fa-solid fa-user header__icon"></i>
                                 </a>
                             </div>
                         </div>
                    </div>
                    
                </div>
                
                
            </header>
            <div class="container">
                <div class="grid">
                    <div class="container__router">
                        <ul class="container__router-list">
                            <li class="container__router-item">
                                <a href="./index.html" class="container__router-link">Trang Chủ</a>
                            </li>
                            <li class="container__router-item">
                                <i class="fa-solid fa-angle-right container__router-icon"></i>
                            </li>
                            <li class="container__router-item">
                                <a href="" class="container__router-link">Giỏ Hàng</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="cart">
                        <div class="cart__header">
                            <h1 class="cart__heading">Giỏ hàng của bạn</h1>
                        </div>
                        <div class="cart__container">
                            <div class="cart__left"> 
                                <ul class="cart__left-header">
                                    <li class="cart__left-heading w-30">Thông tin sản phẩm</li>
                                    <li class="cart__left-heading w-20">Số lượng</li>
                                    <li class="cart__left-heading w-20">Đơn Giá</li>
                                    <li class="cart__left-heading w-10">Sale off</li>
                                    <li class="cart__left-heading w-20">Thành tiền</li>
                                    <li class="cart__left-heading w-5"></li>
                                </ul>
                                
                                <div class="cart__product">
                                    <div class="cart__product-info w-30">
                                        <div class="cart__product-left">
                                                <div class="cart__product-img" style="background-image: url('./assets/img/1681582279_nu7a.jpg');"></div>
                                        </div>
                                        <div class="cart__product-right">
                                            <div class="cart__product-content">
                                                <p class="cart__product-name">Ten san pham</p>
                                                <div class="cart__product-color">
                                                    <span class="cart__product-color--title">Màu sắc:</span>
                                                    <span class="cart__product-color--name"> Xanh</span>
                                                </div>
                                                <div class="cart__product-size">
                                                    <span class="cart__product-size--title">Size:</span>
                                                    <span class="cart__product-size--name">XXL</span>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="cart__product-quantity w-20">
                                        <div class="product__quantity">
                                            <div class="product__quantity-action">
                                                <div id="" data-id_session="" class="product__quantity-minus btnMinus">
                                                    <div class="product__quantity-btn">
                                                        <i class="fa-solid fa-minus product__quantity-icon"></i>
                                                    </div>
                                                </div>
                                                <input id="quantityInput" type="number" min="1" value="<?php echo $val -> quantityPro ?>" name="quantity" size="10" class="product__quantity-input">
                                                <div id="" data-id_session="" class="product__quantity-plus btnPlus">
                                                    <div class="product__quantity-btn">
                                                        <i class="fa-solid fa-plus product__quantity-icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <input class="idSession-" type="hidden" value="<?php echo $val->idSession ?>">
                                        </div>
                                    </div>
                                    <div class="cart__product-total w-20">
                                        <p  id="" class="cart__product-total-value">giá gốc</p>
                                        <!-- lấy giá sản phẩm đẩy sang trang thanh toán -->
                                        <!-- <input type="hidden" id="priceBase" value="<?php echo $val->priceBase ?>">
                                        <input type="hidden" id="price" value="<?php echo $val->pricePro ?>"> -->
                                    </div>
                                    <div class="cart__product-total w-10">
                                        <p class="cart__product-total-value">10%</p>
                                        <i class="fa-solid fa-percent sale__icon"></i>
                                    </div>
                                    <div class="cart__product-total w-20">
                                        <p class="cart__product-total-value">Tông giá</p>
                                    </div>
                                    <div data-id_session="" class="cart__product-actions">
                                        <div href="" class="cart__product-actions--link">
                                            <i class="fa-light fa-trash-can"></i>
                                        </div>
                                        
                                    </div>   
                                </div>
                               
                            </div>
                            <div class="cart__right">
                                <div class="receipt">
                                    <div class="receipt__header">
                                        <h3 class="receipt__heading">Hóa Đơn Của Bạn</h3>
                                    </div>
                                    <div class="receipt__container">
                                        <div class="receipt__row">
                                            <span class="receipt__title">Tổng sản phẩm</span>
                                            <span class="receipt__value">1</span>
                                        </div>
                                        <div class="receipt__row">
                                            <span class="receipt__title">Thành tiền</span>
                                            <span class="receipt__value">231230000</span>
                                        </div>
                                        <div class="receipt__row">
                                            <span class="receipt__title">Khuyến mãi</span>
                                            <span class="receipt__value">32312312313</span>
                                        </div>
                                        <div class="receipt__row">
                                            <span class="receipt__title">Tạm tính</span>
                                            <span class="receipt__value">3123123123</span>
                                        </div>
                                        <div class="receipt__caution">
                                            <i class="fa-light fa-diamond-exclamation receipt__caution-icon"></i>
                                            <p class="receipt__caution-text">Miễn đổi trả đối với sản phẩm đồng giá / sale trên 50%</p>
                                        </div>
                                        <div class="receipt__caution">
                                            <i class="fa-light fa-diamond-exclamation receipt__caution-icon"></i>
                                            <p class="receipt__caution-text">Miễn phí ship đơn hàng có tổng gía trị trên 2.000.000đ</p>
                                        </div>
                                        <div class="receipt__caution">
                                            <p class="receipt__caution-text">Mua thêm</p>
                                            <span class="receipt__caution-values">ship</span>
                                            <p class="receipt__caution-text">để được miễn phí SHIP</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="payment__btn">
                                    <a href="/website__mvc/order" class="payment__btn-link">Đặt Hàng</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            </div>
           
            <div class="modals disabled">
                <div class="modals__header">
                    <div class="modals__header-left">
                        <h3 class="modals__header-heading">
                            Giỏ Hàng
                        </h3>
                        <span class="modals__header-num">
                           
                        </span>
                    </div>
                    <div id="modals__bnt-close" class="modals__header-right">
                        <i class="fa-solid fa-xmark modals__header-icon"></i>
                    </div>
                </div>
                <div class="modals__body">
                    <div class="modals__product-wrap">
                      <div class="empty">
                                <img src="'.Base_URL.''.'/public/assets/img/cartisempty.png'.'" alt="Ảnh Trống" class="empty__img">
                                <h3 class="empty__header"> Giỏ Hàng Trống </h3>
                                <p class="empty__label"> Thêm sản phẩm vào giở hàng  </p>
                            </div>
                        <div class="modals__product">
                            <div class="modals__product-left">
                                <div class="modals__product-thumb" style="background-image: url('.->imgPro?>');"></div>
                            </div>
                            <div class="modals__product-right">
                                <p class="modals__product-name"></p>
                                <div class="modals__product-property">
                                    <div class="modals__product-color">
                                        <span class="modals__product-color--label">Màu sắc:</span>
                                        <span class="modals__product-color--name">
                                        </span>
                                    </div>
                                    <div class="modals__product-size">
                                        <span class="modals__product-color--label">Size:</span>
                                        <span class="modals__product-color--name">
                                        
                                        </span>
                                    </div>
                                </div>
                                <div class="modals__product-num">
                                    <div class=" modals__product-quantity">
                                        <div class="product__quantity-action quantity__s">
                                            <div id="stepDown" class="product__quantity-minus quantity__btn--s">
                                                <div class="product__quantity-btn quantity__size--s">
                                                    <i class="fa-solid fa-minus product__quantity-icon"></i>
                                                </div>
                                            </div>
                                            <input id="quantityInput" type="number" min="1" value="" name="quantity" size="10" class="product__quantity-input quantity__input--s quantity__size--s cartQuantity">
                                            <div id="stepUp" class="product__quantity-plus quantity__btn--s">
                                                <div class="product__quantity-btn quantity__size--s">
                                                    <i class="fa-solid fa-plus product__quantity-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modals__product-price"></div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="modals__footer-total">
                        <span class="modals__footer-tag">Tạm tính:</span>
                        <span class="modals__footer-value"></span>
                    </div>
                </div>
                <div class="modals__footer">
                    <a href="/website__mvc/cart" class="modals__footer-btn">
                        <span class="modals__footer-text">Xem Giỏ Hàng</span>
                    </a>
                </div>
            </div>
</div>

    <script src="./assets/js/main.js'"></script>
    <script type="text/javascript">
        
    </script>
    
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "102239029414779");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v16.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
       
    </body>
    
</html>