
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Trang chủ | IVYmoda</title>
        <link rel="icon" type="image/png" href="./assets/img/logo-icon.ico" sizes="16*16" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/header.css">
        <link rel="stylesheet" href="./assets/css/main.css">
        <link rel="stylesheet" href="./assets/css/modals.css">
        <link rel="stylesheet" href="./assets/css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="./assets/css/reponsive.css"> -->
        <script src="https://kit.fontawesome.com/3426ec3618.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main">
            <div class="grid__column-2">
                <!-- <div class="sibar">
                    <p class="sibar__heading">
                        <i class="fa-solid fa-bars"></i>
                    Danh Mục</p>
                    <ul class="sibar__list">
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Khoác</a>
                            <ul class="multilevel__list">
                                <li class="multilevel__item"><a href="" class="multilevel__link">Áo Khoác Gió</a></li>
                                <li class="multilevel__item"><a href="" class="multilevel__link">Áo Khoác Nỉ</a></li>
                                <li class="multilevel__item"><a href="" class="multilevel__link">Áo Khoác Dạ</a></li>
                            </ul>
                        </li> 
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                    </ul>
                </div> -->
        </div>
        <header class="header">
                <div class="grid header__content">
                    <div class="grid__row" style="align-items: center;">
                        <div class="header__left">
                            <img src="" alt="" class="header__left-logo">
                         </div>
                         <div class="header__between">
                             <ul class="header__between-list">
                                 <li class="header__between-item">
                                    <a class="header__between-link">Nữ</a>
                                    <ul class="menu__list">
                                        <li class="menu__item">
                                            <ul>
                                                
                                                <li class="menu__li">
                                                    <a href="" class="menu__li-link">Đồ Lót</a>
                                                    <ul class="mega__list">
                                                       <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                        
                                                    </ul>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li class="menu__item-banner">
                                            <a href="" class="menu__item-link">
                                                <img src="./assets/img/phuongly2.jpg" alt="" class="menu__item-img">
                                            </a>
                                            
                                        </li>

                                    </ul>
                                </li>
                                <li class="header__between-item">
                                    <a class="header__between-link">Nam</a>
                                    <ul class="menu__list">
                                        <li class="menu__item">
                                        <ul>
                                                <li class="menu__li">
                                                    <a href="" class="menu__li-link">Áo Khoác</a>
                                                    <ul class="mega__list">
                                                        <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu__item-banner">
                                            <a href="" class="menu__item-link">
                                                <img src="./assets/img/lavanhi.jpg" alt="" class="menu__item-img">
                                            </a>
                                            
                                        </li>

                                    </ul>
                                </li>
                                 <li class="header__between-item"><a href="" class="header__between-link">Hàng Mới</a></li>
                                 <li class="header__between-item"><a href="" class="header__between-link">Best Seller</a></li>
                                 <li class="header__between-item"><a href="" class="header__between-link">IvyCare</a></li>
                             </ul>
                         </div>
                         <div class="header__right">
                             <div class="header__right-search">
                                 <div class="header__right-wrapper">
                                    <form action="/website__mvc/search" method="POST">
                                        <input type="text" name="search" class="header__right-input" placeholder="Nhập từ tìm kiếm" value="">
                                        <button type="submit" class="header__right-btn" value="submit">
                                            <i class="fa-solid fa-magnifying-glass icon__btn"></i>
                                        </button>
                                    </form>
                                 </div>
                             </div>
                             <div class="header__right-cart">
                                 <i class="fa-solid fa-cart-shopping header__icon header__cart-icon"></i>
                                 <span class="header__cart-value">
                                 </span>
                             </div>
                             <div class="header__right-user">
                                 <a href="/website__mvc/customers/login" class="header__right-user--link">
                                     <i class="fa-solid fa-user header__icon"></i>
                                 </a>
                             </div>
                         </div>
                    </div>
                    
                </div>
                
                
            </header>
            
            
    <style>
    </style>
            <div class="container">
                <div class="grid">
                    <div class="slider">
                        <div class="slider__list">
                            <div class="slider__item">
                                <a href="" class="slider__link">
                                    <img src="./assets/img/slider.jpg" alt="" class="slider__img">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid__row container__wrapper">
                            <div class="body">
                                    <div class="content">
                                        <div class="content__header">
                                            <h3 class="content__heading">Hàng Mới Về</h3>
                                            <div class="content__actions">
                                                <div class="content__actions-item">
                                                    <div class="content__actions-btn">Tất cả</div>
                                                </div>
                                                <div class="content__actions-item">
                                                    <div class="content__actions-btn">Nam</div>
                                                </div>
                                                <div class="content__actions-item">
                                                    <div class="content__actions-btn">Nữ</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid__row">
                                            
                                            <div class="grid__column-4-12">
                                                    <div class="product">
                                                        <div class="product__wrapper">
                                                            <a href="." class="product__link">
                                                                <img src="./assets/img/1681581603_nu1a.jpg" class="product__img">
                                                           </a> 
                                                           <div class="img_hover">
                                                            <a href="" class="product__link">
                                                                <img src="./assets/img/1681581787_nu3a.jpg" class="product__img">
                                                            </a>
                                                           </div>
                                                        
                                                        </div>
                                                        <div class="product__content">
                                                            <p class="product__name"></p>
                                                            <div class="product__detail">
                                                                <div class="product__price">
                                                                    <span class="product__price-de"></span>
                                                                    <span class="product__price-sale"></span>
                                                                </div>
                                                                <div class="product__action">
                                                                    <div class="product__wishlist">
                                                                        <!-- <i class="fa-regular fa-heart"></i> -->
                                                                        <i class="fa-solid fa-heart"></i>
                                                                    </div>
                                                                    <div class="product__cart">
                                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                            <div class="grid__column-4-12">
                                                <div class="product">
                                                    <div class="product__wrapper">
                                                        <a href="." class="product__link">
                                                            <img src="./assets/img/1681581603_nu1a.jpg" class="product__img">
                                                       </a> 
                                                       <div class="img_hover">
                                                        <a href="" class="product__link">
                                                            <img src="./assets/img/1681581787_nu3a.jpg" class="product__img">
                                                        </a>
                                                       </div>
                                                    
                                                    </div>
                                                    <div class="product__content">
                                                        <p class="product__name"></p>
                                                        <div class="product__detail">
                                                            <div class="product__price">
                                                                <span class="product__price-de"></span>
                                                                <span class="product__price-sale"></span>
                                                            </div>
                                                            <div class="product__action">
                                                                <div class="product__wishlist">
                                                                    <!-- <i class="fa-regular fa-heart"></i> -->
                                                                    <i class="fa-solid fa-heart"></i>
                                                                </div>
                                                                <div class="product__cart">
                                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                        <div class="grid__column-4-12">
                                            <div class="product">
                                                <div class="product__wrapper">
                                                    <a href="." class="product__link">
                                                        <img src="./assets/img/1681581603_nu1a.jpg" class="product__img">
                                                   </a> 
                                                   <div class="img_hover">
                                                    <a href="" class="product__link">
                                                        <img src="./assets/img/1681581787_nu3a.jpg" class="product__img">
                                                    </a>
                                                   </div>
                                                
                                                </div>
                                                <div class="product__content">
                                                    <p class="product__name"></p>
                                                    <div class="product__detail">
                                                        <div class="product__price">
                                                            <span class="product__price-de"></span>
                                                            <span class="product__price-sale"></span>
                                                        </div>
                                                        <div class="product__action">
                                                            <div class="product__wishlist">
                                                                <!-- <i class="fa-regular fa-heart"></i> -->
                                                                <i class="fa-solid fa-heart"></i>
                                                            </div>
                                                            <div class="product__cart">
                                                                <i class="fa-solid fa-cart-shopping"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                    <div class="grid__column-4-12">
                                        <div class="product">
                                            <div class="product__wrapper">
                                                <a href="." class="product__link">
                                                    <img src="./assets/img/1681581603_nu1a.jpg" class="product__img">
                                               </a> 
                                               <div class="img_hover">
                                                <a href="" class="product__link">
                                                    <img src="./assets/img/1681581787_nu3a.jpg" class="product__img">
                                                </a>
                                               </div>
                                            
                                            </div>
                                            <div class="product__content">
                                                <p class="product__name"></p>
                                                <div class="product__detail">
                                                    <div class="product__price">
                                                        <span class="product__price-de"></span>
                                                        <span class="product__price-sale"></span>
                                                    </div>
                                                    <div class="product__action">
                                                        <div class="product__wishlist">
                                                            <!-- <i class="fa-regular fa-heart"></i> -->
                                                            <i class="fa-solid fa-heart"></i>
                                                        </div>
                                                        <div class="product__cart">
                                                            <i class="fa-solid fa-cart-shopping"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                                            
                                            
                                            </div>
                                            <a href="" class="btn btn--primary content__show">Xem Tất Cả</a>
                                    </div>
                                    <div class="content">
                                        <div class="content__header">
                                            <h3 class="content__heading">Hàng Bán Chạy</h3>
                                            <div class="content__actions">
                                                <div class="content__actions-item">
                                                    <div class="content__actions-btn">Tất cả</div>
                                                </div>
                                                <div class="content__actions-item">
                                                    <div class="content__actions-btn">Nam</div>
                                                </div>
                                                <div class="content__actions-item">
                                                    <div class="content__actions-btn">Nữ</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid__row">
                                            
                                            <div class="grid__column-4-12">
                                                    <div class="product">
                                                        <div class="product__wrapper">
                                                            <a href="" class="product__link">
                                                                <img src=".->imgPro ?>" class="product__img">
                                                           </a> 
                                                           <div class="img_hover">
                                                            <a href="" class="product__link">
                                                                <img src=".a['img']['img_name'] ?>" class="product__img">
                                                            </a>
                                                           </div>
                                                        
                                                        </div>
                                                        <div class="product__content">
                                                            <p class="product__name"></p>
                                                            <div class="product__detail">
                                                                <div class="product__price">
                                                                    <span class="product__price-de"></span>
                                                                    <span class="product__price-sale"></span>
                                                                </div>
                                                                <div class="product__action">
                                                                    <div class="product__wishlist">
                                                                        <!-- <i class="fa-regular fa-heart"></i> -->
                                                                        <i class="fa-solid fa-heart"></i>
                                                                    </div>
                                                                    <a href="" class="product__cart">
                                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                    
                                            
                                            
                                            </div>
                                            <a href="" class="btn btn--primary content__show">Xem Tất Cả</a>
                                    </div>
                                        
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="copy__rights">©nthnam.dev All rights reserved</div>
                        <div class="contact">
                             <div class="contact__left">Email</div>
                             <div class="contact__right">
                                 <a href="mailto:nthnam.dev@gmail.com" class="contact__link">nthnam.dev@gmail.com</a>
                             </div>
                         </div>
                         <div class="contact">
                             <div class="contact__left">Phone</div>
                             <div class="contact__right">
                                 <a href="tel:+84377917901" class="contact__link">0377***01</a>
                             </div>
                         </div>
                         <div class="contact">
                            <div class="contact__left">Facebook</div>
                            <div class="contact__right">
                                <a href="tel:+84377917901" class="contact__link">Nguyễn Thế Hoài Nam</a>
                            </div>
                        </div>
                     </div>
                </div>
                
                    
    
               

            </div>
           <!-- gio hang  -->
            <div class="modals disabled">
                <div class="modals__header">
                    <div class="modals__header-left">
                        <h3 class="modals__header-heading">
                            Giỏ Hàng
                        </h3>
                        <span class="modals__header-num">
                           
                        </span>
                    </div>
                    <div id="modals__bnt-close" class="modals__header-right">
                        <i class="fa-solid fa-xmark modals__header-icon"></i>
                    </div>
                </div>
                <div class="modals__body">
                    <div class="modals__product-wrap">
                      <div class="empty">
                                <img src="'.Base_URL.''.'/public/assets/img/cartisempty.png'.'" alt="Ảnh Trống" class="empty__img">
                                <h3 class="empty__header"> Giỏ Hàng Trống </h3>
                                <p class="empty__label"> Thêm sản phẩm vào giở hàng  </p>
                            </div>
                        <div class="modals__product">
                            <div class="modals__product-left">
                                <div class="modals__product-thumb" style="background-image: url('.->imgPro?>');"></div>
                            </div>
                            <div class="modals__product-right">
                                <p class="modals__product-name"></p>
                                <div class="modals__product-property">
                                    <div class="modals__product-color">
                                        <span class="modals__product-color--label">Màu sắc:</span>
                                        <span class="modals__product-color--name">
                                        </span>
                                    </div>
                                    <div class="modals__product-size">
                                        <span class="modals__product-color--label">Size:</span>
                                        <span class="modals__product-color--name">
                                        
                                        </span>
                                    </div>
                                </div>
                                <div class="modals__product-num">
                                    <div class=" modals__product-quantity">
                                        <div class="product__quantity-action quantity__s">
                                            <div id="stepDown" class="product__quantity-minus quantity__btn--s">
                                                <div class="product__quantity-btn quantity__size--s">
                                                    <i class="fa-solid fa-minus product__quantity-icon"></i>
                                                </div>
                                            </div>
                                            <input id="quantityInput" type="number" min="1" value="" name="quantity" size="10" class="product__quantity-input quantity__input--s quantity__size--s cartQuantity">
                                            <div id="stepUp" class="product__quantity-plus quantity__btn--s">
                                                <div class="product__quantity-btn quantity__size--s">
                                                    <i class="fa-solid fa-plus product__quantity-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modals__product-price"></div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="modals__footer-total">
                        <span class="modals__footer-tag">Tạm tính:</span>
                        <span class="modals__footer-value"></span>
                    </div>
                </div>
                <div class="modals__footer">
                    <a href="/website__mvc/cart" class="modals__footer-btn">
                        <span class="modals__footer-text">Xem Giỏ Hàng</span>
                    </a>
                </div>
            </div>
</div>

    <script src="./assets/js/main.js'"></script>
    <script type="text/javascript">
        
    </script>
    
    <!-- Messenger Plugin chat Code -->
   
    </body>
    
</html>