
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trang chủ | IVYmoda</title>
        <link rel="icon" type="image/png" href="./assets/img/logo-icon.ico" sizes="16*16" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/header.css">
        <link rel="stylesheet" href="./assets/css/cart.css">
        <link rel="stylesheet" href="./assets/css/modals.css">
        <link rel="stylesheet" href="./assets/css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/reponsive.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://kit.fontawesome.com/3426ec3618.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main">
            <div class="grid__column-2">
                <!-- <div class="sibar">
                    <p class="sibar__heading">
                        <i class="fa-solid fa-bars"></i>
                    Danh Mục</p>
                    <ul class="sibar__list">
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Khoác</a>
                            <ul class="multilevel__list">
                                <li class="multilevel__item"><a href="" class="multilevel__link">Áo Khoác Gió</a></li>
                                <li class="multilevel__item"><a href="" class="multilevel__link">Áo Khoác Nỉ</a></li>
                                <li class="multilevel__item"><a href="" class="multilevel__link">Áo Khoác Dạ</a></li>
                            </ul>
                        </li> 
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                        <li class="sibar__item"><a href="" class="sibar__link">Áo Polo</a></li>
                    </ul>
                </div> -->
        </div>
        <header class="header">
                <div class="grid header__content">
                    <div class="grid__row" style="align-items: center;">
                        <div class="header__left">
                            <img src="" alt="" class="header__left-logo">
                         </div>
                         <div class="header__between">
                             <ul class="header__between-list">
                                 <li class="header__between-item">
                                    <a class="header__between-link">Nữ</a>
                                    <ul class="menu__list">
                                        <li class="menu__item">
                                            <ul>
                                                
                                                <li class="menu__li">
                                                    <a href="" class="menu__li-link">Đồ Lót</a>
                                                    <ul class="mega__list">
                                                       <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo lót</a>
                                                            </li>
                                                        
                                                    </ul>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li class="menu__item-banner">
                                            <a href="" class="menu__item-link">
                                                <img src="./assets/img/phuongly2.jpg" alt="" class="menu__item-img">
                                            </a>
                                            
                                        </li>

                                    </ul>
                                </li>
                                <li class="header__between-item">
                                    <a class="header__between-link">Nam</a>
                                    <ul class="menu__list">
                                        <li class="menu__item">
                                        <ul>
                                                <li class="menu__li">
                                                    <a href="" class="menu__li-link">Áo Khoác</a>
                                                    <ul class="mega__list">
                                                        <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                            <li class="mega__item">
                                                                <a href="" class="mega__link">Áo Bò</a>
                                                            </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu__item-banner">
                                            <a href="" class="menu__item-link">
                                                <img src="./assets/img/lavanhi.jpg" alt="" class="menu__item-img">
                                            </a>
                                            
                                        </li>

                                    </ul>
                                </li>
                                 <li class="header__between-item"><a href="" class="header__between-link">Hàng Mới</a></li>
                                 <li class="header__between-item"><a href="" class="header__between-link">Best Seller</a></li>
                                 <li class="header__between-item"><a href="" class="header__between-link">IvyCare</a></li>
                             </ul>
                         </div>
                         <div class="header__right">
                             <div class="header__right-search">
                                 <div class="header__right-wrapper">
                                    <form action="/website__mvc/search" method="POST">
                                        <input type="text" name="search" class="header__right-input" placeholder="Nhập từ tìm kiếm" value="">
                                        <button type="submit" class="header__right-btn" value="submit">
                                            <i class="fa-solid fa-magnifying-glass icon__btn"></i>
                                        </button>
                                    </form>
                                 </div>
                             </div>
                             <div class="header__right-cart">
                                 <i class="fa-solid fa-cart-shopping header__icon header__cart-icon"></i>
                                 <span class="header__cart-value">
                                 </span>
                             </div>
                             <div class="header__right-user">
                                 <a href="/website__mvc/customers/login" class="header__right-user--link">
                                     <i class="fa-solid fa-user header__icon"></i>
                                 </a>
                             </div>
                         </div>
                    </div>
                    
                </div>
                
                
            </header>
            <form  action="/website__mvc/order/create" method="POST">
                <div class="container">
                            <div class="grid">
                                <div class="container__router">
                                    <ul class="container__router-list">
                                        <li class="container__router-item">
                                            <a href="./index.html" class="container__router-link">Trang Chủ</a>
                                        </li>
                                        <li class="container__router-item">
                                            <i class="fa-solid fa-angle-right container__router-icon"></i>
                                        </li>
                                        <li class="container__router-item">
                                            <a href="" class="container__router-link">Danh Mục</a>
                                        </li>
                                        <li class="container__router-item">
                                            <i class="fa-solid fa-angle-right container__router-icon"></i>
                                        </li>
                                        <li class="container__router-item">
                                            <a href="" class="container__router-link">Nhóm hàng</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cart">
                                   
                                    <div class="cart__header">
                                        <h1 class="cart__heading"></h1>
                                    </div>
                                    <div class="cart__container">
                                        <div class="cart__left">
                                            <div class="payment__up">
                                                <div class="payment__location ">
                                                    <div class="location__header">
                                                        <h3 class="location__heading">Địa Chỉ Nhận Hàng</h3>
                                                    </div>
                                                    <div class="location__container">
                                                        <div class="location__row">
                                                            <div class="location__col w-50">
                                                                <input type="text" name="name" value="" class="location__input" placeholder="Nhập tên người nhận">
                                                            </div>
                                                            <div class="location__col w-50">
                                                                <input type="text" name="phone"  value="" class="location__input" placeholder="Nhập số người nhận">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" id="provinceVal" value="">
                                                        <input type="hidden" id="districtVal" value="">
                                                        <input type="hidden" id="wardsVal" value="">
                                                        <div class="location__row">
                                                            <div class="location__col w-50">
                                                                <select class="location__select" name="province" id="province">
                                                                    <option class="location__option"  value="'.$val->province_id.'"></option>
                                                                </select>
                                                            </div>
                                                            <div class="location__col w-50">
                                                                <select class="location__select" name="district" id="district">
                                                               <option class="location__option"  value="'.$val->district_id.'"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="location__row">
                                                            <div class="location__col">
                                                                <select class="location__select" name="wards" id="wards">
                                                              <option class="location__option"  value="'.$val->wards_id.'"></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="location__row">
                                                            <div class="location__col">
                                                                <input type="text" name="address" value="" class="location__input" placeholder="Địa chỉ chi tiết">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="payment__options ">
                                                    <div class="options__payment">
                                                        <div class="options__header">
                                                            <h3 class="options__heading">Phương Thức Thanh Toán</h3>
                                                        </div>
                                                        <div class="options__container">
                                                            <div class="options__item">
                                                                <input type="radio" name="options__pay" value="0" class="options__input" id="">
                                                                <label class="options__label" for="options__pay">Thanh toán bằng MOMO</label>
                                                            </div>
                                                            <div class="options__item">
                                                                <input type="radio" name="options__pay" value="1" class="options__input" id="">
                                                                <label class="options__label" for="options__pay">Thanh toán bằng VNPay</label>
                                                            </div>
                                                            <div class="options__item">
                                                                <input type="radio" name="options__pay" value="2" class="options__input" id="">
                                                                <label class="options__label" for="options__pay">Thanh toán bằng tài khoản ngân hàng</label>
                                                            </div>
                                                            <div class="options__item">
                                                                <input type="radio" name="options__pay" value="3" class="options__input" id="">
                                                                <label class="options__label" for="options__pay">Thanh toán khi nhận hàng</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="options__ship">
                                                        <div class="options__header">
                                                            <h3 class="options__heading">Phương Thức Giao Hàng</h3>
                                                        </div>
                                                        <div class="options__container">
                                                            <div class="options__item">
                                                                <input type="radio" name="options__ship" value="0" class="options__input" id="">
                                                                <label class="options__label" for="options__ship">Giao hàng nhanh</label>
                                                            </div>
                                                            <span class="options__caution">Thời gian giao dự kiến: khoảng 3 đến 5 ngày</span>
                                                            <div class="options__item">
                                                                <input type="radio" name="options__ship" value="1" class="options__input" id="">
                                                                <label class="options__label" for="options__ship">Giao hàng hỏa tốc(chỉ Hà Nội)</label>
                                                            </div>
                                                            <span class="options__caution">Thời gian giao dự kiến: từ 1 đến 4 tiếng trong nội thành,ngoại thành </span>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="payment__down">
                                               <div class="payment__auth">
                                                        <div class="payment__auth-left">
                                                            <a href="" class="payment__auth-btn">Đăng nhập</a>
                                                        </div>
                                                        <div class="payment__auth-right">
                                                            <p class="payment__auth-text">
                                                                Để có vô vàn ưu đãi bằng việc thanh toán trước với MOMO, VNPay và QrCode
                                                            </p>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                        </div>
                                        <div class="cart__right">
                                            <div class="receipt">
                                                <div class="receipt__header">
                                                    <h3 class="receipt__heading">Hóa Đơn Của Bạn</h3>
                                                </div>
                                                <div class="receipt__container">
                                                    <div class="receipt__row">
                                                        <span class="receipt__title">Tổng sản phẩm</span>
                                                        <span class="receipt__value">
                                                            </span>
                                                    </div>
                                                    <div class="receipt__row">
                                                        <span class="receipt__title">Thành tiền</span>
                                                        <span class="receipt__value"></span>
                                                    </div>
                                                    <div class="receipt__row">
                                                        <span class="receipt__title">Phí ship</span>
                                                        <span class="receipt__value"></span>
                                                    </div>
                                                    <div class="receipt__row">
                                                        <span class="receipt__title">Tạm tính</span>
                                                        <span class="receipt__value"></span>
                                                    </div>
                                                    <p class="receipt__title">Mã khuyến Mại</p>
                                                    <div class="receipt__row">
                                                        <input type="text" class="receipt__input" value="">
                                                        <div class="receipt__btn" >Áp dụng</div>
                                                    </div>
                                            
                                                    <div class="receipt__row bd-t mt-8">
                                                        <span class="receipt__title strg-550 fs-18">Tổng tiền</span>
                                                        
                                                        <span class="receipt__value fs-18"></span>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <input type="hidden" name="total" value="">
                                            <input type="hidden" name="idCus"  value="">
                                           <input type="hidden" name="namePro" value="">
                                                            <input type="hidden" name="quantityPro"  value="'.$val->quantityPro.'">
                                                            <input type="hidden" name="colorPro"  value="'.$val->colorPro.'">
                                                            <input type="hidden" name="sizePro"  value="'.$val->sizePro.'"
                                            <div class="payment__btn">
                                                <button type="submit" name="" class="payment__btn-link">Thanh Toán</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                </form>
           
            <div class="modals disabled">
                <div class="modals__header">
                    <div class="modals__header-left">
                        <h3 class="modals__header-heading">
                            Giỏ Hàng
                        </h3>
                        <span class="modals__header-num">
                           
                        </span>
                    </div>
                    <div id="modals__bnt-close" class="modals__header-right">
                        <i class="fa-solid fa-xmark modals__header-icon"></i>
                    </div>
                </div>
                <div class="modals__body">
                    <div class="modals__product-wrap">
                      <div class="empty">
                                <img src="'.Base_URL.''.'/public/assets/img/cartisempty.png'.'" alt="Ảnh Trống" class="empty__img">
                                <h3 class="empty__header"> Giỏ Hàng Trống </h3>
                                <p class="empty__label"> Thêm sản phẩm vào giở hàng  </p>
                            </div>
                        <div class="modals__product">
                            <div class="modals__product-left">
                                <div class="modals__product-thumb" style="background-image: url('.->imgPro?>');"></div>
                            </div>
                            <div class="modals__product-right">
                                <p class="modals__product-name"></p>
                                <div class="modals__product-property">
                                    <div class="modals__product-color">
                                        <span class="modals__product-color--label">Màu sắc:</span>
                                        <span class="modals__product-color--name">
                                        </span>
                                    </div>
                                    <div class="modals__product-size">
                                        <span class="modals__product-color--label">Size:</span>
                                        <span class="modals__product-color--name">
                                        
                                        </span>
                                    </div>
                                </div>
                                <div class="modals__product-num">
                                    <div class=" modals__product-quantity">
                                        <div class="product__quantity-action quantity__s">
                                            <div id="stepDown" class="product__quantity-minus quantity__btn--s">
                                                <div class="product__quantity-btn quantity__size--s">
                                                    <i class="fa-solid fa-minus product__quantity-icon"></i>
                                                </div>
                                            </div>
                                            <input id="quantityInput" type="number" min="1" value="" name="quantity" size="10" class="product__quantity-input quantity__input--s quantity__size--s cartQuantity">
                                            <div id="stepUp" class="product__quantity-plus quantity__btn--s">
                                                <div class="product__quantity-btn quantity__size--s">
                                                    <i class="fa-solid fa-plus product__quantity-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modals__product-price"></div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="modals__footer-total">
                        <span class="modals__footer-tag">Tạm tính:</span>
                        <span class="modals__footer-value"></span>
                    </div>
                </div>
                <div class="modals__footer">
                    <a href="/website__mvc/cart" class="modals__footer-btn">
                        <span class="modals__footer-text">Xem Giỏ Hàng</span>
                    </a>
                </div>
            </div>
</div>

    <script src="./assets/js/main.js'"></script>
    <script type="text/javascript">
        
    </script>
    
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "102239029414779");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v16.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
       
    </body>
    
</html>