
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trang chủ | IVYmoda</title>
        <link rel="icon" type="image/png" href="./assets/img/logo-icon.ico" sizes="16*16" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/base.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/header.css">
        <link rel="stylesheet" href="./assets/css/thank.css">
        <link rel="stylesheet" href="./assets/css/modals.css">
        <link rel="stylesheet" href="./assets/css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/reponsive.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://kit.fontawesome.com/3426ec3618.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main">
            <header class="header fl-jc-ct po-re">
                <a href="./index.html" class="header__left-link">
                    <div class="header__left fl-jc-ct">
                        <img src="" alt="" class="header__between-logo">
                    </div>
                </a>   
                
            </header>
            <div class="container">
                <div class="grid">
                    <div class="thank">
                        <div class="thank__header">
                            <img class="thank__img" src="./assets/img/thanks.png">
                        </div>
                        <div class="thank__container">
                            <i class="fa-solid fa-badge-check thank__alert"></i>
                            <h3 class="thank__heading">Đặt hàng thành công!</h3>
                            <p class="thank__text">Chúng tôi sẽ liên hệ với bạn để xác nhận trong thời gian sớm nhất.</p>
                            <div class="thank__actions">
                                <a href="/website__mvc/" class="thank__btn">Tiếp tục mua sắm</a>
                                <a href="" class="thank__btn">Quản lý đơn hàng</a>
                            </div>
                        </div>
                        <div class="thank__footer">
                            <div class="thank__left">
                                <div class="thank__social">
                                    <i class="fa-brands fa-facebook thank__icon"></i>
                                </div>
                                <div class="thank__label">Follow us!</div>
                                <a href="https://www.facebook.com/nthnam.dev" class="thank__link">@nthnam.dev</a>
                            </div>
                            <div class="thank__right">
                                <div class="thank__social">
                                    <i class="fa-sharp fa-solid fa-comment-heart thank__icon"></i>
                                </div>
                                <div class="thank__label">Review us!</div>
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOfqWupzBO6OamVN1CzTxkCt41wucTlhHPfSR3-Nwd-AQ7bw/viewform" class="thank__link">Feelback nhận quà</a>
                            </div>
                        </div>
                    </div>
                </div>
</div>

        <script src="https://kit.fontawesome.com/3426ec3618.js" crossorigin="anonymous"></script>
        <script></script>
    </body>
    
</html>